$color-primary: #3046C5;
$color-secondary: rgba(255, 0, 0, 0.808);
$color-pale: #CEC8FF;
$color-headerh2: rgb(54, 51, 51);
$color-mid: #901CAD;
$color-nav: red;
$color-dark: #2c0eb3;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "Itim", cursive;

.row{
    margin-top: 4px;
}
body {
    font-family: $body-font;
    background-image: linear-gradient(rgb(238, 224, 224), rgb(18, 98, 134));
}

h1, h2, h3 {
    font-family: $header-font;
}

h2 {
    color: $color-primary;
}

header {
    h2 {
        color: $color-headerh2;
    }
}

footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}
.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-secondary, $color-primary, $color-dark);
    color: white;
}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: rgb(15, 176, 224);
}
.site-footer {
    background-image: linear-gradient($color-pale, rgb(221, 14, 14));
    padding: 20px 0;
}
.carousel-caption {
    background-color: $color-black-transparent;
}

.carousel {
    border: solid black;
}
#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}
#reserveModal {
    .modal-header {
        background-color: $color-teal;
        color: white;
    }
}
#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: white;
    }
}
